<!--View RentLedger Modal-->
<div id="modalRentLedger" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas file-invoice"></i>&nbsp;RentLedger</h5>
                <button type="button" class="close" onclick="clearRentLedgerModal();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtRentAccount" class="control-label">Rent Account</label>
                    <span id="txtRentAccount" class="form-control"></span>
                </div>
                <div class="form-group">
                    <label for="txtRentLedgerPeriodStart" class="control-label">Period Start</label>
                    <span id="txtRentLedgerPeriodStart" class="form-control"></span>
                </div>
                <div class="form-group">
                    <label for="txtRentLedgerPeriodEnd" class="control-label">Period End</label>
                    <span id="txtRentLedgerPeriodEnd" class="form-control"></span>
                </div>
                <div class="form-group">
                    <label for="txtAmountDue" class="control-label">Amount Due</label>
                    <span id="txtAmountDue" class="form-control"></span>
                </div>
                <div class="form-group">
                    <label for="txtAmountPaid" class="control-label">Amount Paid</label>
                    <span id="txtAmountPaid" class="form-control"></span>
                </div>
                <div class="form-group">
                    <label for="txtPaymentDate" class="control-label">Payment Date</label>
                    <span id="txtLedgerPaymentDate" class="form-control"></span>
                </div>
                <div class="form-group">
                    <label for="txtPaymentSource" class="control-label">Payment Source</label>
                    <span id="txtPaymentSource" class="form-control"></span>
                </div>
                <div class="form-group">
                    <label for="txtPaymentRef" class="control-label">Payment Provider Ref</label>
                    <span id="txtPaymentRef" class="form-control"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelRentLedger" class="btn btn-secondary" onclick="clearRentLedgerModal();" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Create Payment Modal-->
<div id="modalPayment" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="far fa-credit-card"></i>&nbsp;Payment</h5>
                <button type="button" class="close" onclick="clearPaymentModal();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Payment Source</label>
                    <select class="form-control w-100" id="selPeymentSource" asp-items="ViewBag.paymentSourceId"></select>
                </div>
                <div class="form-group">
                    <label for="txtPaymentDueDate" class="control-label">Payment Amount</label>
                    <input type="text" id="txtPaymentAmount" class="form-control" />
                    <span id="actionDueDateValidationResult" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="txtPaymentDate" class="control-label">Date Recieved</label>
                    <input type="date" id="txtPaymentDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtPaymentProviderRef" class="control-label">Payment Provider Ref</label>
                    <input type="text" id="txtPaymentProviderRef" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnProcessPayment" class="btn btn-primary" onclick="processPayment();" data-dismiss="modal">Save</button>
                <button type="button" id="btnCancelPayment" class="btn btn-secondary" onclick="clearPaymentModal();" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>