@model OpenHouse.Model.Core.Model.PropertyViewModel

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <h4>Edit Property</h4>
        </div>
        <div class="col-md-6">
            <a class="btn btn-outline-primary float-right ml-1" asp-action="Details" asp-route-id="@Model.propertyId">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary float-right ml-1" />
        </div>
    </div>
    <hr />
    <div class="row mt-4">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="propertyId" />
            <input type="hidden" asp-for="createdByUserID" />
            <input type="hidden" asp-for="createdDT" />
            <div class="form-group">
                <label asp-for="propertyClassId" class="control-label"></label>
                <select asp-for="propertyClassId" class="form-control" asp-items="ViewBag.propertyClassId"></select>
                <span asp-validation-for="propertyClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propertyTypeId" class="control-label"></label>
                <select asp-for="propertyTypeId" class="form-control" asp-items="ViewBag.propertyTypeId"></select>
                <span asp-validation-for="propertyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propertyNum" class="control-label"></label>
                <input asp-for="propertyNum" class="form-control" />
                <span asp-validation-for="propertyNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propertySubNum" class="control-label"></label>
                <input asp-for="propertySubNum" class="form-control" />
                <span asp-validation-for="propertySubNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address1" class="control-label"></label>
                <input asp-for="address1" class="form-control" />
                <span asp-validation-for="address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address2" class="control-label"></label>
                <input asp-for="address2" class="form-control" />
                <span asp-validation-for="address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address3" class="control-label"></label>
                <input asp-for="address3" class="form-control" />
                <span asp-validation-for="address3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address4" class="control-label"></label>
                <input asp-for="address4" class="form-control" />
                <span asp-validation-for="address4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postCode" class="control-label"></label>
                <input asp-for="postCode" class="form-control" />
                <span asp-validation-for="postCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="demolitionDate" class="control-label"></label>
                <input asp-for="demolitionDate" class="form-control" />
                <span asp-validation-for="demolitionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creationDate" class="control-label"></label>
                <input asp-for="creationDate" class="form-control" />
                <span asp-validation-for="creationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="livingRoomQty" class="control-label"></label>
                <input asp-for="livingRoomQty" class="form-control" />
                <span asp-validation-for="livingRoomQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="singleBedroomQty" class="control-label"></label>
                <input asp-for="singleBedroomQty" class="form-control" />
                <span asp-validation-for="singleBedroomQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doubleBedroomQty" class="control-label"></label>
                <input asp-for="doubleBedroomQty" class="form-control" />
                <span asp-validation-for="doubleBedroomQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxOccupants" class="control-label"></label>
                <input asp-for="maxOccupants" class="form-control" />
                <span asp-validation-for="maxOccupants" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
