<div id="modalPersonSearch" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-user"></i>&nbsp;Person Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" id="txtPersonSearch" name="txtPersonSearch" placeholder="Search by person ID or name..." class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <button id="btnSearch" onclick="populatePersonSearchResults()" class="btn btn-primary w-100">Search</button>
                    </div>
                </div>
                <div class="row mt-2" id="person-search-result">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="clearPersonSearch();" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
