<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenHouse.Core.Web</title>
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="~/lib/bootstrap/dist/css/theme.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.js"></script>
    <script src="~/js/showMessage.js" asp-append-version="true"></script>
    <script src="~/js/propertySelector.js"></script>
    <script src="~/js/personSelector.js"></script>
    <script src="~/js/userSelector.js"></script>
    <script src="~/js/noteManager.js"></script>
    <script src="~/js/actionManager.js"></script>
    <script src="~/js/householdManager.js"></script>
    <script src="~/js/alertManager.js"></script>
    <script src="~/js/propertyChargeManager.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-light border-bottom box-shadow navbar-expand-sm bg-faded justify-content-center">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="top-logo-sm" alt="OpenHouse" src="~/img/logo_top_small.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                    <ul class="navbar-nav w-100 justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav ml-auto w-100 mr-2 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" action="post" asp-area="Identity" asp-page="/Account/Logout"><i class="fa fa-sign-out-alt"></i>&nbsp;Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-2">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OpenHouse v1.0 - <a href="~/LICENSE.txt">Released under the Apache 2.0 License</a>
        </div>
    </footer>

</body>
</html>
