@model OpenHouse.Model.Core.Model.action

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>action</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="actionTypeId" class="control-label"></label>
                <select asp-for="actionTypeId" class ="form-control" asp-items="ViewBag.actionTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="tenancyId" class="control-label"></label>
                <select asp-for="tenancyId" class ="form-control" asp-items="ViewBag.tenancyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="assignedUserId" class="control-label"></label>
                <input asp-for="assignedUserId" class="form-control" />
                <span asp-validation-for="assignedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actionDueDate" class="control-label"></label>
                <input asp-for="actionDueDate" class="form-control" />
                <span asp-validation-for="actionDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actionCompletedDate" class="control-label"></label>
                <input asp-for="actionCompletedDate" class="form-control" />
                <span asp-validation-for="actionCompletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedByUserID" class="control-label"></label>
                <input asp-for="updatedByUserID" class="form-control" />
                <span asp-validation-for="updatedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedDT" class="control-label"></label>
                <input asp-for="updatedDT" class="form-control" />
                <span asp-validation-for="updatedDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdByUserID" class="control-label"></label>
                <input asp-for="createdByUserID" class="form-control" />
                <span asp-validation-for="createdByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdDT" class="control-label"></label>
                <input asp-for="createdDT" class="form-control" />
                <span asp-validation-for="createdDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
