@model OpenHouse.Model.Core.Model.TenancyViewModel

@{
    ViewData["Title"] = "Edit";
}
@* Render partial view for property selector *@
@await Html.PartialAsync("~/Views/Properties/_PropertySelector.cshtml")
@await Html.PartialAsync("~/Views/Persons/_PersonSelector.cshtml")

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <h4>Edit Tenancy</h4>
        </div>
        <div class="col-md-6">
            <a class="btn btn-outline-primary float-right ml-1" asp-action="Details" asp-route-id="@Model.tenancyId">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary float-right ml-1" />
        </div>
    </div>
    <hr />
    <div class="row mt-4">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tenancyId" />
            <input type="hidden" asp-for="createdByUserID" />
            <input type="hidden" asp-for="createdDT" />

            <div class="form-row">
                <label asp-for="propertyId">Property</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <input type="text" readonly="readonly" asp-for="propertyId" id="selectedPropertyId" class="form-control" />
                </div>
                <div class="form-group col-md-8">
                    <div class="input-group">
                        @*Property Search input*@
                        <input type="text" readonly="readonly" value="@Model.property.contactAddress" class="form-control" id="selectedPropertyDisplay" />
                        <div class="input-group-append">
                            <a class="btn btn-light btn-sm rounded-right" onclick="openPropertySeach('#selectedPropertyId', '#selectedPropertyDisplay');">Select</a>
                        </div>
                        <span asp-validation-for="propertyId" class="text-danger w-100"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label asp-for="leadTenantPersonId" class="control-label">Lead Tenant</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <input type="text" readonly="readonly" asp-for="leadTenantPersonId" id="selectedLeadTenantId" class="form-control" />
                </div>
                <div class="form-group col-md-8">
                    <div class="input-group">
                        @*Property Search input*@
                        <input type="text" readonly="readonly" value="@(Model.leadTenantPerson.firstName + " " + Model.leadTenantPerson.surname)" class="form-control" id="selectedLeadTenantDisplay" />
                        <div class="input-group-append">
                            <a class="btn btn-light btn-sm rounded-right" onclick="openPersonSeach('#selectedLeadTenantId', '#selectedLeadTenantDisplay');">Select</a>
                        </div>
                        <span asp-validation-for="leadTenantPersonId" class="text-danger w-100"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label asp-for="jointTenantPersonId" class="control-label">Joint Tenant</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <input type="text" readonly="readonly" asp-for="jointTenantPersonId" id="selectedJointTenantId" class="form-control" />
                </div>
                <div class="form-group col-md-8">
                    <div class="input-group">
                        @*Property Search input*@
                        @if (Model.jointTenantPersonId.HasValue)
                        {
                            <input type="text" readonly="readonly" value="@(Model.jointTenantPerson.firstName + " " + Model.jointTenantPerson.surname)" class="form-control" id="selectedJointTenantDisplay" />
                        }
                        else
                        {
                            <input type="text" readonly="readonly" class="form-control" id="selectedJointTenantDisplay" />
                        }
                        <div class="input-group-append">
                            <a class="btn btn-light btn-sm rounded-right" onclick="openPersonSeach('#selectedJointTenantId', '#selectedJointTenantDisplay');">Select</a>
                        </div>
                        <span asp-validation-for="jointTenantPersonId" class="text-danger w-100"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="tenureTypeId" class="control-label">Tenure Type</label>
                <select asp-for="tenureTypeId" class="form-control" asp-items="ViewBag.tenureTypeId"></select>
                <span asp-validation-for="tenureTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label">Start Date</label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="terminationDate" class="control-label">Termination Date</label>
                <input asp-for="terminationDate" class="form-control" />
                <span asp-validation-for="terminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="terminationReasonId" class="control-label">Termination Reason</label>
                <select asp-for="terminationReasonId" class="form-control" asp-items="ViewBag.terminationReasonId">
                    <option value="">N/A</option>
                </select>
                <span asp-validation-for="terminationReasonId" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
